  body {
    color: black;
    background: white;
    }
	h1{
	color: #4C50AF
	}
	table {
    border-collapse: collapse;
    width: 100%;
    
	}

table, th, td {
    border: 1px solid black;
    padding: 0.4em;
}
tr:hover {background-color: #e0e0e0}

th {
    background-color: #4C50AF;
    color: white;
}